<!DOCTYPE html>
<html>

<head>
  <title>
    Adicionar endereço | Nana Roupas
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/formulario.css">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <meta name="cliente-id" content="<%= clienteId %>">
</head>

<body>
  <div class="layout">
    <aside class="sidebar">
      <svg class="logo" viewBox="
        0 0 208 77" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="7.51367" y="0.998535" width="75" height="75" rx="37.5" fill="#995277" />
        <path
          d="M17.543 75.6739C17.4583 75.7246 17.3963 75.8064 17.371 75.9021C17.3457 75.9978 17.3592 76.0994 17.4086 76.1849C17.458 76.2703 17.5394 76.3327 17.6349 76.3585C17.7305 76.3843 17.8323 76.3713 17.9185 76.3232C17.9185 76.3232 17.9185 76.3232 17.9185 76.3232C22.6608 72.8205 24.1946 67.0979 26.0884 61.9436C29.3147 51.9822 31.2717 41.6207 32.558 31.2277C33.1771 26.0371 33.6085 20.7732 33.6478 15.5204C33.6592 12.8639 33.5823 10.2412 33.2421 7.58712C33.0573 6.21306 32.828 4.91674 32.377 3.56062C31.9114 2.37494 31.3779 0.522919 29.2223 0.0316007C28.687 -0.0463669 27.9433 -0.0387752 27.4432 0.745207C27.3424 0.916804 27.283 1.09434 27.2494 1.26271C27.2148 1.43508 27.2106 1.59192 27.2104 1.67176C27.21 1.86649 27.2315 2.05502 27.2667 2.24604C27.3 2.43051 27.3582 2.65181 27.4074 2.81169C27.4482 2.94595 27.4946 3.08332 27.5464 3.22459C27.6498 3.50706 27.7745 3.80529 27.9194 4.12196C43.0888 28.7919 63.1787 51.766 79.2406 73.0319C73.5106 63.6783 68.8647 49.5845 65.5622 37.2375C63.9369 30.8652 62.5717 24.3717 62.2303 17.8849C61.7761 11.976 63.1098 2.65576 70.3278 4.59115C71.0847 4.73805 71.6417 4.8791 72.1954 5.07722C72.5299 5.19886 72.7957 5.32528 72.9926 5.44613C73.0765 5.4963 73.2104 5.59042 73.2901 5.6672C73.3728 5.74488 73.4209 5.81107 73.4492 5.86391C73.8033 6.17478 72.5917 7.46922 71.6453 8.09247C69.5122 9.59334 67.0942 10.7741 64.6344 11.9512C59.8263 14.2139 54.8 16.2817 49.8221 18.3511C39.8638 22.5159 29.7978 26.4611 20.2685 31.7109C17.8613 33.0777 15.5102 34.5085 13.3584 36.3503C12.3233 37.2541 11.2674 38.319 10.6252 39.5835C9.88824 40.9217 9.97604 42.6803 11.0331 43.8669C11.0962 43.9435 11.1869 43.9922 11.2857 44.0022C11.3845 44.0122 11.4832 43.9827 11.5601 43.92C11.637 43.8573 11.6859 43.7667 11.6961 43.6679C11.7062 43.5691 11.6768 43.4704 11.6145 43.3931C11.6145 43.3931 11.6145 43.3931 11.6145 43.3931C9.74274 41.2669 11.9424 38.6065 13.9005 36.9814C15.987 35.2287 18.3205 33.8339 20.7118 32.5069C30.1941 27.3973 40.2842 23.5394 50.2751 19.4568C55.2732 17.4262 60.3204 15.3962 65.1948 13.1473C67.6972 11.9693 70.1351 10.8139 72.4479 9.21476C72.7441 9.00344 72.9753 8.8301 73.2681 8.58716C73.5786 8.32788 73.8505 8.07109 74.082 7.81063C74.1843 7.69634 74.337 7.51097 74.4592 7.32572C74.5821 7.14068 74.6848 6.95008 74.761 6.74962C74.9324 6.36957 74.9586 5.65111 74.697 5.21124C74.5868 4.99935 74.4374 4.81036 74.2613 4.64268C74.0875 4.47483 73.8644 4.32098 73.738 4.24311C73.4368 4.05535 73.0882 3.89167 72.6863 3.74245C72.0247 3.50064 71.4135 3.34443 70.602 3.18158C68.7924 2.83439 67.0004 2.82893 65.2662 3.72246C63.5965 4.57532 62.4644 6.27188 61.8595 7.84604C60.6055 11.1761 60.5605 14.6281 60.6693 17.9539C60.9828 24.6374 62.3333 31.202 63.9411 37.6513C67.8172 50.4584 69.8042 63.2612 79.4314 74.8679C66.2014 47.3987 44.0433 28.1993 29.738 3.28963C29.6104 3.01089 29.5054 2.75825 29.4242 2.53669C29.3836 2.42595 29.349 2.32303 29.3203 2.22899C29.2854 2.11624 29.2493 1.9746 29.2327 1.88221C29.2146 1.7854 29.2093 1.71371 29.2095 1.67677C29.2061 1.63372 29.2295 1.63927 29.1666 1.75769C29.1051 1.8758 28.9398 1.97783 28.8764 1.98867C28.8051 2.00719 28.8199 1.98956 28.91 2.00494C35.3991 18.3924 29.8256 42.2986 24.9445 61.581C23.2446 66.6887 21.6841 72.4607 17.543 75.6739Z"
          fill="#EBC4D8" />
        <path
          d="M108.794 29.1985H108.274V1.19853H109.634L126.274 27.0785V1.19853H126.794V29.1985H123.874L108.794 5.99854V29.1985Z"
          fill="#F7F7F7" />
        <path
          d="M130.674 29.1985H130.194L142.154 1.19853L142.594 0.998535L152.674 29.1985H149.274L146.154 20.3985H134.474L130.674 29.1985ZM140.914 5.51854L134.634 19.9985H146.034L140.914 5.51854Z"
          fill="#F7F7F7" />
        <path
          d="M156.606 29.1985H156.086V1.19853H157.446L174.086 27.0785V1.19853H174.606V29.1985H171.686L156.606 5.99854V29.1985Z"
          fill="#F7F7F7" />
        <path
          d="M178.486 29.1985H178.006L189.966 1.19853L190.406 0.998535L200.486 29.1985H197.086L193.966 20.3985H182.286L178.486 29.1985ZM188.726 5.51854L182.446 19.9985H193.846L188.726 5.51854Z"
          fill="#F7F7F7" />
        <path
          d="M106.514 41.8945C107.442 41.8305 108.262 41.7985 108.974 41.7985C110.95 41.7985 111.938 42.4585 111.938 43.7785C111.938 44.3385 111.802 44.8385 111.53 45.2785C111.258 45.7185 110.79 46.0105 110.126 46.1545L112.526 50.1985H111.41L109.058 46.2265H107.51V50.1985H106.514V41.8945ZM108.974 41.9185C108.51 41.9185 108.022 41.9465 107.51 42.0025V46.1065H109.286C110.414 46.0585 110.978 45.2905 110.978 43.8025C110.978 43.1945 110.81 42.7305 110.474 42.4105C110.138 42.0825 109.638 41.9185 108.974 41.9185Z"
          fill="#F7F7F7" />
        <path
          d="M116.088 50.2465C115.248 50.2465 114.564 50.0065 114.036 49.5265C113.508 49.0465 113.244 48.3065 113.244 47.3065C113.244 46.3065 113.516 45.5305 114.06 44.9785C114.612 44.4265 115.308 44.1505 116.148 44.1505C116.996 44.1505 117.684 44.3905 118.212 44.8705C118.74 45.3505 119.004 46.0905 119.004 47.0905C119.004 48.0905 118.728 48.8665 118.176 49.4185C117.632 49.9705 116.936 50.2465 116.088 50.2465ZM116.172 44.2465C115.564 44.2465 115.06 44.5185 114.66 45.0625C114.26 45.5985 114.06 46.3505 114.06 47.3185C114.06 48.2785 114.244 48.9905 114.612 49.4545C114.98 49.9185 115.468 50.1505 116.076 50.1505C116.684 50.1505 117.188 49.8825 117.588 49.3465C117.988 48.8025 118.188 48.0505 118.188 47.0905C118.188 46.1225 118.004 45.4065 117.636 44.9425C117.268 44.4785 116.78 44.2465 116.172 44.2465Z"
          fill="#F7F7F7" />
        <path
          d="M120.798 48.8185C120.798 49.4505 120.966 49.8545 121.302 50.0305C121.462 50.1105 121.666 50.1505 121.914 50.1505C122.418 50.1505 122.866 49.9585 123.258 49.5745C123.658 49.1905 123.874 48.8345 123.906 48.5065V44.1985H124.746V49.3465C124.746 49.5785 124.79 49.7585 124.878 49.8865C124.974 50.0065 125.07 50.0705 125.166 50.0785L125.298 50.1025H125.67V50.1985H124.938C124.61 50.1985 124.358 50.1265 124.182 49.9825C124.014 49.8385 123.926 49.6945 123.918 49.5505L123.906 49.3465V48.8305C123.762 49.1745 123.506 49.4985 123.138 49.8025C122.77 50.0985 122.366 50.2465 121.926 50.2465C121.494 50.2465 121.138 50.2065 120.858 50.1265C120.586 50.0385 120.39 49.9185 120.27 49.7665C120.062 49.5185 119.958 49.1985 119.958 48.8065V44.1985H120.798V48.8185Z"
          fill="#F7F7F7" />
        <path
          d="M126.395 44.1985H127.235V45.6865C127.371 45.3185 127.623 44.9705 127.991 44.6425C128.359 44.3145 128.775 44.1505 129.239 44.1505C130.863 44.1505 131.675 45.1025 131.675 47.0065C131.675 49.1665 130.627 50.2465 128.531 50.2465C128.155 50.2465 127.723 50.1585 127.235 49.9825V53.1985H126.395V44.1985ZM129.227 44.2465C128.731 44.2465 128.283 44.4625 127.883 44.8945C127.483 45.3185 127.267 45.7025 127.235 46.0465V49.8745C127.723 50.0585 128.151 50.1505 128.519 50.1505C130.063 50.1505 130.835 49.0985 130.835 46.9945C130.835 45.1625 130.299 44.2465 129.227 44.2465Z"
          fill="#F7F7F7" />
        <path
          d="M137.594 50.1985C137.05 50.1985 136.678 50.0945 136.478 49.8865C136.294 49.7105 136.202 49.5585 136.202 49.4305V49.1785C135.81 49.8905 135.182 50.2465 134.318 50.2465C133.31 50.2465 132.738 49.7905 132.602 48.8785C132.586 48.7825 132.578 48.6865 132.578 48.5905C132.578 48.4865 132.594 48.3745 132.626 48.2545C132.658 48.1345 132.75 48.0025 132.902 47.8585C133.206 47.5705 133.874 47.3945 134.906 47.3305C135.162 47.3065 135.398 47.2945 135.614 47.2945C135.83 47.2945 136.026 47.3025 136.202 47.3185V45.3265C136.186 45.3185 136.186 45.2825 136.202 45.2185C136.218 45.1465 136.202 45.0585 136.154 44.9545C136.114 44.8425 136.058 44.7345 135.986 44.6305C135.914 44.5265 135.786 44.4385 135.602 44.3665C135.418 44.2865 135.178 44.2465 134.882 44.2465C134.586 44.2465 134.238 44.3025 133.838 44.4145C133.446 44.5185 133.158 44.6225 132.974 44.7265L132.926 44.6425C133.638 44.3145 134.362 44.1505 135.098 44.1505C135.922 44.1505 136.466 44.2985 136.73 44.5945C136.938 44.8265 137.042 45.0705 137.042 45.3265V49.3465C137.042 49.5785 137.086 49.7585 137.174 49.8865C137.27 50.0065 137.366 50.0705 137.462 50.0785L137.594 50.1025H137.966V50.1985H137.594ZM134.51 50.1505C134.934 50.1505 135.314 50.0065 135.65 49.7185C135.994 49.4225 136.178 49.1385 136.202 48.8665V47.4145C135.986 47.3985 135.766 47.3905 135.542 47.3905C135.326 47.3905 135.11 47.4025 134.894 47.4265C134.286 47.4985 133.89 47.6345 133.706 47.8345C133.522 48.0345 133.43 48.3105 133.43 48.6625C133.43 48.7265 133.434 48.7985 133.442 48.8785C133.514 49.7265 133.87 50.1505 134.51 50.1505Z"
          fill="#F7F7F7" />
        <path
          d="M142.13 44.6185C142.002 44.5145 141.794 44.4265 141.506 44.3545C141.226 44.2825 141.014 44.2465 140.87 44.2465C140.726 44.2465 140.642 44.2465 140.618 44.2465C140.186 44.2545 139.874 44.3665 139.682 44.5825C139.49 44.7905 139.394 45.0265 139.394 45.2905C139.394 45.5545 139.478 45.7785 139.646 45.9625C139.814 46.1385 140.022 46.2785 140.27 46.3825C140.526 46.4785 140.798 46.5905 141.086 46.7185C141.382 46.8465 141.654 46.9785 141.902 47.1145C142.158 47.2425 142.37 47.4345 142.538 47.6905C142.706 47.9385 142.79 48.2505 142.79 48.6265C142.79 49.0025 142.658 49.3225 142.394 49.5865C142.13 49.8505 141.834 50.0265 141.506 50.1145C141.186 50.2025 140.838 50.2465 140.462 50.2465C139.646 50.2465 139.034 50.0665 138.626 49.7065L138.698 49.6345C138.858 49.7865 139.094 49.9105 139.406 50.0065C139.726 50.1025 140.034 50.1505 140.33 50.1505C140.802 50.1505 141.19 50.0225 141.494 49.7665C141.806 49.5025 141.962 49.1785 141.962 48.7945C141.962 48.4025 141.846 48.0905 141.614 47.8585C141.382 47.6185 141.098 47.4345 140.762 47.3065C140.434 47.1705 140.102 47.0385 139.766 46.9105C139.43 46.7745 139.146 46.5905 138.914 46.3585C138.682 46.1185 138.566 45.8425 138.566 45.5305C138.566 45.2185 138.638 44.9665 138.782 44.7745C138.926 44.5745 139.118 44.4345 139.358 44.3545C139.766 44.2185 140.174 44.1505 140.582 44.1505C141.27 44.1505 141.806 44.2785 142.19 44.5345L142.13 44.6185Z"
          fill="#F7F7F7" />
      </svg>
    </aside>
    <form class="content" method="post" action="/adicionar-endereco">
      <!--form class="content" id="formCadastro" method="POST" action="/clientes"-->
      <a onclick="descartar(new URLSearchParams(location.search).get('origem') === 'finalizar-pedido' ? '/finalizar-pedido' : '/configuracoes');"> <svg class="back-button" viewBox="0 0 44 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M30.6603 17C29.5596 18.9064 27.8606 20.3963 25.8268 21.2388C23.793 22.0812 21.5381 22.229 19.4117 21.6592C17.2854 21.0895 15.4065 19.834 14.0664 18.0876C12.7263 16.3411 12 14.2013 12 12C12 9.79864 12.7263 7.65884 14.0664 5.9124C15.4065 4.16596 17.2854 2.91049 19.4117 2.34074C21.5381 1.77099 23.793 1.9188 25.8268 2.76121C27.8606 3.60363 29.5596 5.09356 30.6603 6.99998M22.0002 7.99998L18.0002 12M18.0002 12L22.0002 16M18.0002 12H32.0002"
            stroke="#995277" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg></a>

      <h1 class="title">
        Adicionar endereço de entrega
      </h1>
      <h1 class="texto-etapa">
        Etapa 2 de 3
      </h1>
      <div class="inputs-grid">

        <div class="w-50">
          <div class="label">
            Tipo de residência</div>
          <input class="input" name="cobranca[tpResidencia]" placeholder="Ex: Apartamento" required maxlength="100">
        </div>
        <div class="w-50">
          <div class="label">
            CEP
          </div>
          <input class="input" id="cepCobranca" name="cobranca[cep]" required placeholder="00000-000" min="8">
        </div>
        <div class=" w-50">
          <div class="label">
            Tipo de logradouro
          </div>
          <input class="input" name="cobranca[tpLogradouro]" placeholder="Insira o tipo de logradouro" required
            maxlength="100">
        </div>
        <div class="w-50">
          <div class="label">
            Logradouro</div>
          <input class="input" name="cobranca[logradouro]" placeholder="Insira o logradouro" required maxlength="100">
        </div>
        <div class="w-25">
          <div class="label">
            País
          </div>
          <input class="input" name="cobranca[pais]" placeholder="Insira o país" required maxlength="100">
        </div>
        <div class=" w-25">
          <div class="label">
            Estado
          </div>
          <div class="container-select">
            <input class="input" name="cobranca[estado]" placeholder="Insira o estado" required maxlength="100">
          </div>
        </div>
        <div class="w-50">
          <div class="label">
            Cidade</div>
          <input class="input" name="cobranca[cidade]" placeholder="Insira a cidade" required maxlength="100">
        </div>
        <div class="w-50">
          <div class="label">
            Bairro
          </div>
          <input class="input" name="cobranca[bairro]" placeholder="Insira o bairro" required maxlength="100">
        </div>
        <div class=" w-25">
          <div class="label">
            Número
          </div>
          <input class="input" name="cobranca[numero]" placeholder="Insira o número" required maxlength="20">
        </div>
        <div class="w-25">
          <div class="label">
            Complemento (opcional)</div>
          <input class="input" name="cobranca[complemento]" placeholder="Insira o complemento" maxlength="100">
        </div>
        <div class="w-50">
          <div class="label">
            Nome do endereço
          </div>
          <input class="input" name="cobranca[nomeEndereco]"
            placeholder="Insira uma frase curta para identificação do endereço" required maxlength="100">
        </div>

      </div>
      <div class="buttons">
        <div id="erros"></div>
        <button class="purple-button" type="button" onclick="salvarEndereco()">Salvar endereço</button>
      </div>
    </form>
  </div>
</body>
<script src="/js/endEntrega.js"></script>
<script src="/js/endereco-cad.js"></script>
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>
<script src="/js/mascaras.js"></script>
<script src="/js/valSenha.js"></script>
<script src="/js/dataAtual.js"></script>
<script src="/js/valCliente.js"></script>
<script src="/js/formulario.js"></script>

</html>